ADMIN_SUB_DOMAIN=XXX
AWS_ACCOUNT_NO=XXX
AWS_REGION=us-east-1
AWS_RESOURCE_UNIQUE_ID=XXX
DEPLOYMENT_BUILD_RELEASE_NO=XXX
GLOSSARY_TERMS=ceds-generic-glossary.json
HOSTED_ZONE=XXX
HOSTED_ZONE_CERT_ARN=XXX
VIEWER_SUB_DOMAIN=XXX